* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #585858;
    color: #fff;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
}

header h1{
    font-size: 20px;
    font-weight: bold;
}


img{
    width: 30px;
    height: 30px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

footer{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: #585858;
    color: #fff;
    align-items: center;
    padding: 10px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-bottom: 30px;
}

#FirstMain,
#SecondMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#SecondMain button {
    padding: 0px;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: none;
}


textarea {
    width: 359px;
    height: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    font-size: 16px;
}

button {
    padding: 0px;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    background-color: #777;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

#outputText {
    width: 200px;
    height: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #fff;
    font-size: 16px;
}

@media (max-width: 606px) {
    #outputText {
        width: 400px;
        height: 10em;
    }
}